.places {
  max-width: calc(100% - 296px);
  min-height: 660px;
}

@media (max-width: 1279px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media (max-width: 1023px) {
  .places {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .places {
    max-width: 100%;
  }
}
