.video {
  width: calc(100% - 96px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1023px) {
  .video {
    width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .video {
    width: calc(100% - 32px);
  }
}
