.content__places {
  margin: 0 auto 92px;
}

@media (max-width: 1023px) {
  .content__places {
    margin-bottom: 88px;
  }
}

@media (max-width: 767px) {
  .content__places {
    margin-bottom: 66px;
  }
}
