.comments__content-subtitle {
  margin-bottom: 72px;
}

@media (max-width: 767px) {
  .comments__content-subtitle {
    margin-bottom: 48px;
  }
}

@media (max-width: 374px) {
  .comments__content-subtitle {
    margin-bottom: 40px;
  }
}
