.content__intro {
  margin: 0 0 92px 148px;
}

@media (max-width: 1279px) {
  .content__intro {
    margin: 0 0 92px 48px;
  }
}

@media (max-width: 1023px) {
  .content__intro {
    margin: 0 auto 88px;
  }
}

@media (max-width: 767px) {
  .content__intro {
    margin: 0 auto 64px;
  }
}
