.video__content-subtitle {
  margin-bottom: 72px;
}

@media (max-width: 1023px) {
  .video__content-subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .video__content-subtitle {
    margin-bottom: 24px;
  }
}
